@import './variables.scss';

html, body {
  width: 100%;
  height: 100%;
  color: $theme-primary;
  background-color: $background-color-main;
}

a {
  border-color: transparent;
  color: transparent;
  text-decoration-color: transparent;
  
  &:active {
    border-color: transparent;
    color: transparent;
    text-decoration-color: transparent;
  }
}