@font-face {
  font-family: 'iconfont';  /* project id 1242800 */
  src: url('//at.alicdn.com/t/font_1242800_u3tdz25oov.eot');
  src: url('//at.alicdn.com/t/font_1242800_u3tdz25oov.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1242800_u3tdz25oov.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1242800_u3tdz25oov.woff') format('woff'),
  url('//at.alicdn.com/t/font_1242800_u3tdz25oov.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1242800_u3tdz25oov.svg#iconfont') format('svg');
}

.icon {
  display: inline-block;
  font-family:"iconfont" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fullscreen:before { content: "\e7ec"; }

.icon-fullscreen-exit:before { content: "\e7ed"; }
