/* theme
-------------------------- */
$theme-primary: #2b303b;

$primary-light-0: #{lighten($theme-primary, 10%)};
$primary-light-1: #{lighten($theme-primary, 20%)};
$primary-light-2: #{lighten($theme-primary, 30%)};
$primary-light-3: #{lighten($theme-primary, 40%)};
$primary-light-4: #{lighten($theme-primary, 50%)};
$primary-light-5: #{lighten($theme-primary, 60%)};
$primary-light-6: #{lighten($theme-primary, 70%)};
$primary-light-7: #{lighten($theme-primary, 80%)};
$primary-light-8: #{lighten($theme-primary, 90%)};
$primary-light-9: #{lighten($theme-primary, 100%)};

/* z-index
-------------------------- */
$index-normal: 1 !default;
$index-top: 1000 !default;
$index-popper: 2000 !default;

/* font-weight
-------------------------- */
$font-weight-primary: 400 !default;
$font-weight-secondary: 100 !default;
$font-weight-bold: 700 !default;

/* font-size
-------------------------- */
$font-size-extra-large: 20px !default;
$font-size-large: 18px !default;
$font-size-medium: 16px !default;
$font-size-base: 14px !default;
$font-size-small: 13px !default;
$font-size-minimum: 11px !default;

/* font-color
-------------------------- */
$font-color-base: $primary-light-1;
$font-color-gray: #bbb;

/* border-color
-------------------------- */
$border-color-dark: $theme-primary;
$border-color-base: $primary-light-4;
$border-color-light: $primary-light-6;

/* background-color
-------------------------- */
$background-color-header: #262626;
$background-color-sidebar: #333;
$background-color-main: #f2f2f2;

$background-color-active: #444;

/* layout
-------------------------- */
$sidebar-width: 170px;

/* menu
-------------------------- */
$menu-item-hover: #555;
$menu-item-bg: #444;
$sub-menu-title: #c4c9d2;
$menu-item-height: 50px;
$reuse-tab-bg: #e3ebf5;